[Unit]
Description=SCION Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=scion
ExecStart=/usr/bin/scion-systemd-wrapper /usr/bin/sciond /etc/scion/scion/ISD-isd-/AS-as-/endhost/sciond.toml %i
RemainAfterExit=False
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
