[Unit]
Description=SCION Daemon
Documentation=https://www.scionlab.org
After=network-online.target scion-dispatcher.service
Wants=network-online.target
PartOf=scionlab.target

[Service]
Type=simple
User=scion
ExecStart=/usr/bin/scion-systemd-wrapper /usr/bin/sciond /etc/scion/gen/ISD-isd-/AS-as-/endhost/sciond.toml %i
RemainAfterExit=False
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=scionlab.target
