[Unit]
Description=SCION Dispatcher
Documentation=https://www.scionlab.org
After=network-online.target
Wants=network-online.target
PartOf=scionlab.target

[Service]
Type=simple
User=scion
ExecStart=/usr/bin/scion-systemd-wrapper /usr/bin/godispatcher /etc/scion/gen/dispatcher/disp.toml %i
RemainAfterExit=False
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=scionlab.target
